<footer>
    <div class="flex space-between container">
        <div class="footer-branding">
            <h1 class="brandName">BagsForYou</h1>
            <p>© BagsForYou 2023</p>
        </div>
        <div class="footer-copyright-notice">
            Except as permitted by the copyright law applicable to you, you may not reproduce or communicate any of the
            content on this website, including files downloadable from this website, without the permission of the
            copyright
            owner.
        </div>
    </div>
</footer>