<header class="flex space-between">
    <div class="header-branding">
        <h1 class="brandName">BagsForYou</h1>
    </div>
    <nav id="main-navigation" class="flex">
        <div class="site-nav">
            <a href="/" class="site-links">Home</a>
            <a href="/adminDashboard" class="site-links">Dashboard</a>
        </div>
        <div class="account-container flex">
            <div class="links-container flex">
                <span class="material-symbols-rounded">
                    admin_panel_settings
                </span>
                <a href="#" class="account-box">@AdminUser</a>
            </div>
            <a href="#" class="hidden">Tes</a>
        </div>
    </nav>
</header>