<header class="flex space-between">
    <div class="header-branding">
        <h1 class="brandName">BagsForYou</h1>
    </div>
    <nav id="main-navigation" class="flex">
        <div class="site-nav">
            <a href="/" class="site-links">Home</a>
            <a href="/addReview" class="site-links">Add Review</a>
        </div>
        <div class="session-menu">
            <button id="SignUpButton">Sign Up</button>
            <button id="SignInButton">Sign In</button>
        </div>
        <div class="account-container flex">
            <div class="links-container flex">
                <i class='bx bxs-id-card bx-md'></i>
                <a href="#" class="account-box">@Username</a>
            </div>
            <a href="#" class="hidden">Tes</a>
        </div>
    </nav>
</header>