<section class="hero flex">
    <div class="searchbar-container">
        <input type="text" name="search" id="search-main">
        <button type="submit" class="boxicon-submit">
            <i class="bx bx-search"></i>
        </button>
    </div>
    <%- include('stat-example') %>
</section>