<section class="hero flex">
    <div class="searchbar-container">
        <input type="text" name="search" id="search-main">
        <button type="submit" class="boxicon-submit" id="main-seach-button">
            <span class="material-symbols-rounded">
                search
            </span>
        </button>
    </div>
    <%- include('stat-user') %>
</section>
<script>
    const mainSearchButton = document.querySelector('#main-seach-button');
    mainSearchButton.addEventListener('click', (e) => {
        e.preventDefault();
        window.location.href = "/searchresults";
    })
</script>