<section class="hero flex">
    <div class="searchbar-div">
        <form action="/searchresults" method="get" class="searchbar-container">
            <input type="text" name="search" id="search-main">
            <button type="submit" class="boxicon-submit" id="main-seach-button">
                <span class="material-symbols-rounded">
                    search
                </span>
            </button>
        </form>
    </div>
    <%- include('stat-user') %>
</section>