<section class="hero">
    <div class="searchbar-container">
        <input type="text" name="search" id="search-main">
        <div class="btn-container">
            <i>Search btn hereee</i><input type="submit" value="">
        </div>
    </div>
</section>