<section class="hero flex">
    <div class="searchbar-container">
        <input type="text" name="search" id="search-main">
        <button type="submit" class="boxicon-submit">
            <span class="material-symbols-rounded">
                search
            </span>
        </button>
    </div>
    <%- include('stat-user') %>
</section>