<div class="stats">
    <h2>Site Statistics</h2>
    <div class="stats-row">
        <!-- Total Bags -->
        <div class="stat-items">
            <p>
                <%= data.totalBags %>
            </p>
            <h2>Total Bags</h2>
        </div>

        <!-- Total Categories -->
        <div class="stat-items">
            <p>
                <%= data.totalCategories %>
            </p>
            <h2>Total Categories</h2>
        </div>

        <!-- Total Subcategories -->
        <div class="stat-items">
            <p>
                <%= data.totalSubcategories %>
            </p>
            <h2>Total Subcategories</h2>
        </div>
    </div>
</div>