<div class="stats">
    <h2>Fun Statistics Data</h2>
    <div class="stats-row">
        <div class="stat-items">
            <h2>241</h2>
            <h4>Unique Bags</h4>
        </div>
        <div class="stat-items">
            <h2>Eiger</h2>
            <h4>Most reviewed Brand</h4>
        </div>
        <div class="stat-items">
            <h2>H&M</h2>
            <h4>Most Popular Designer</h4>
        </div>
    </div>
</div>