<div class="stats">
    <h2>Site Statistics</h2>
    <div class="stats-row">
        <div class="stat-items" >
            <h2><%- unikCount %></h2>
            <h4>Unique Bags</h4>
        </div>
        <div class="stat-items" >
            <h2><%- brandCount %></h2>
            <h4>Most reviewed Brand</h4>
        </div>
        <div class="stat-items" >
            <h2><%- yangdesainCount %></h2>
            <h4>Most Popular Designer</h4>
        </div>
    </div>
</div>