.main-menu {
  border: 2px solid black;
  border-radius: 3px;
  background-color: #ccd7ff;
}
.admin-panel {
  padding: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
.admin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffc8c8;
  max-width: 30ch;
  padding: 8px 0;
}

.menu-icon {
  height: 3rem;
  fill: #313131;
}
/* .admin-button a {
  color: #5755b4;
} */

.recent {
  display: grid;
  grid-template-rows: 4em 1fr 1fr;
  overflow-y: scroll;
  height: 610px;
  padding: 0.5rem;
  gap: 0.5rem;
}

.recent h2 {
  padding: 1rem 0;
}

.rec-bag {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1rem;
  background-color: rgb(224, 238, 171);
}
.rec-bag img {
  max-width: 8rem;
  margin-right: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rec-bag table {
  width: 100%;
}

.rec-bag td {
  padding: 5px;
}

.rec-bag td:first-child {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  width: 1%;
}

.rec-bag td:last-child {
  text-align: left;
  width: 99%;
}
