.main-grid-section {
  display: grid;
  padding: 0 5vw;
  grid-template-columns: repeat(2, auto);
}
.left-column {
  padding-right: 1rem;
}

.main-menu {
  border: 2px solid black;
  border-radius: 3px;
}
.admin-panel {
  padding: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  padding: 1rem;
}
.admin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcdcdc;
  padding: 1rem 0;
}

.menu-icon {
  height: 3rem;
}
.admin-button a {
  padding-top: 1rem;
}

.recent {
  flex-direction: column;
  gap: 0.5rem;
}

.recent h2 {
  padding: 1rem 0;
}

.rec-bag {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1rem;
}
.rec-bag img {
  max-width: 8rem;
  margin-right: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rec-bag table {
  width: 100%;
}

.rec-bag td {
  padding: 5px;
}

.rec-bag td:first-child {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  width: 1%;
}

.rec-bag td:last-child {
  text-align: left;
  width: 99%;
}
