.centered-container {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#close-window-link {
  margin-left: 28vw;
  margin-bottom: 0.5rem;
}

.window-container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  padding: 1rem;
}
.window-container > * {
  margin: 1rem;
}
.window-container h2 {
  font-weight: 500;
}
.window-container > .form-title > h2,
p {
  text-align: center;
}

#loginForm {
  display: grid;
  gap: 1rem;
}
label,
input {
  font-size: larger;
}
label {
  grid-column: 1;
  font-weight: 600;
}
input {
  grid-column: 2;
  max-width: 25ch;
}
input {
  border: 1px solid black;
  border-radius: 4px;
}

input[type='submit'] {
  width: fit-content;
  padding: 0 1.5rem;
}
