.container-all{
    display: flex;
    justify-content: space-between;
}
.container-left, .container-right{
    display: flex;
}
.container-left{
    background-color: red;
    width: 40%;
}
.container-right{
    width: 40%;
    background-color: blue;
}
img{
    width: 50px;
    height: 50px;
}