@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Fonts/Poppins-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Fonts/Poppins-Light.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Fonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Fonts/Poppins-Mediumltalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Fonts/Poppins-SemiBoldltalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Start styling */
* {
  /* Fallback font ke Arial & Sans-serif jika error */
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: normal;
}
.flex {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}

.grid {
  display: grid;
}
/* Jika a link tidak ada class reset warnanya jadi hitam */
a:is([class]) {
  color: black;
}
.container {
  max-width: 80vw;
  height: fit-content;
  margin: 0 auto;
}
/* Default link color */
a {
  color: #0038ff;
  margin-right: 1rem;
}
button,
a {
  font-weight: bold;
}

a:last-child {
  margin: 0;
}
.hidden {
  display: none;
}

header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 0.6rem 4rem;
}
.brandName {
  /* 24px */
  font-size: 1.5rem;
  font-weight: bold;
}
.site-nav a {
  list-style: none;
}
/* Give every child the same styling */
#main-navigation > div {
  margin: 0.5rem;
}
#SignUpButton,
#SignInButton:hover {
  padding: 0.4rem;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 0.5rem;
}
#SignUpButton:hover,
#SignInButton {
  padding: 0.4rem;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.account-container {
  background-color: white;
  border: 2px solid black;
  height: 2.5rem;
  border-radius: 0.5rem;
}
a.account-box {
  color: black;
  margin: 0 0.5rem;
}

footer {
  grid-template-columns: 20vw 80vw;
  grid-template-rows: max-content;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #191919;
  color: aliceblue;
}

.footer-copyright-notice {
  margin-left: 1.5rem;
  max-width: 850px;
  text-align: center;
  font-weight: lighter;
}

.admin-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
}

.hero {
  flex-direction: column;
}
.searchbar-container {
  display: flex;
  margin-top: 12rem;
  justify-content: center;
}

.searchbar-container input[type='text'] {
  height: 3.5rem;
  width: 80ch;
  border: 3px solid black;
  padding: 0 10px;
  outline: none;
}

.boxicon-submit {
  height: 3.5rem;
  padding: 0 2rem;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-left: none;
  transition: border-color 0.3s;
}

.boxicon-submit:hover {
  background-color: #6b8bff; /* Change the border color to #0038ff on hover */
}

.boxicon-submit {
  border-left: none;
}

.boxicon-submit i {
  color: black;
}

.stats {
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.stats-row {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.stats-row:last-child {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.stat-items {
  text-align: center;
  border: 3px solid black;
  padding: 0.6rem;
  /* border-radius = padding + 1 */
  border-radius: 1.6rem;
}
.stat-items h1 {
  font-weight: 700;
}
