* {
    font-family: Poppins;
}
header {
    width: 100%;
    background-color: beige;
}
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}

.admin-container {  
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
}