#close-window-link {
  display: grid;
  width: 100%;
  justify-content: right;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.034);
}
/* untuk login dan signup window */
.external-window-container {
  display: grid;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.window-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  padding: 1rem;
}
.window-container > * {
  margin: 1rem;
}
.window-container h2 {
  font-weight: 500;
}
.window-container > .form-title > h2,
p {
  text-align: center;
}

#loginForm,
#formAddBagReview {
  display: grid;
  gap: 1rem;
}
label,
input {
  font-size: larger;
}
label {
  grid-column: 1;
  font-weight: 600;
}
input {
  grid-column: 2;
  max-width: 25ch;
}
input {
  border: 1px solid black;
  border-radius: 4px;
}

input[type='submit'] {
  width: fit-content;
  padding: 0 1.5rem;
}
