#close-window-link {
  display: grid;
  width: 100%;
  justify-content: right;
  color: #0037ff;
}

#signup.overlay,
#login.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  transition: opacity 3s ease-in-out, visibility 3s ease-in-out;
}

.alert,
.success {
  color: red;
  font-weight: 500;
  font-size: 1.3rem;
}
.success {
  color: rgb(69, 168, 69);
}

.form-title .form-brand {
  text-align: left !important;
}
/* untuk login dan signup window */
.external-window-container {
  display: grid;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.window-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 10px;
  padding: 1rem;
}
.window-container > * {
  margin: 1rem;
}
.window-container h2 {
  font-weight: 500;
}
.window-container > .form-title > h2,
p {
  text-align: center;
}

#loginForm,
#signUpForm,
#formAddBagReview {
  display: grid;
  gap: 1rem;
  /* gap: 0.5rem; */
}
label,
input {
  font-size: larger;
}
label {
  grid-column: 1;
  font-weight: 600;
}
input,
.button-container {
  grid-column: 2;
}
input {
  border: 1px solid black;
  border-radius: 4px;
}

input[type='submit'],
input[type='button'] {
  width: fit-content;
  padding: 0 1.5rem;
}
input[type='file'] {
  max-width: 21ch;
}
textarea {
  min-height: 84px;
}

#formAddBagReview {
  margin-top: 2rem;
}

/* Star button css, not created by me. */
/* Revised from : https://codepen.io/hesguru/pen/BaybqXv */
.rate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.results-container-review {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.result-item-forReview {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5rem;
}

.result-item-forReview img {
  max-width: 80px;
}
