<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BagsForYou - </title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/default-styling.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>
    <!-- COMPONENT HEADER UTAMA -->
    <%switch(status){ case 'admin' :%>
        <%- include('../navigation/header-admin') %>
            <% break; case 'user' :%>
                <%- include('../navigation/header-user') %>
                    <% break; case 'anon' :%>
                        <%- include('../navigation/header') %>
                            <% break; }%>
                                <!-- END OF HEADER -->
                                <div id="result-container">
                                    <div class="container-left" id="bagpost">
                                        <div class="title-container">
                                            <div class="result-image-container">
                                                <img src="/img-placeholder/placeholderbag.jpg" alt=""
                                                    class="bagresult-image">
                                            </div>
                                            <div class="bagdetail-title">
                                                <h2>Nama tas</h2>
                                                <div class="judul-star">
                                                    <svg id="star1" xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 -960 960 960" width="24" fill="#ffd400"
                                                        stroke="black">
                                                        <path
                                                            d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" />
                                                    </svg>
                                                    <svg id="star2" xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 -960 960 960" width="24" fill="#ffd400"
                                                        stroke="black">
                                                        <path
                                                            d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" />
                                                    </svg>
                                                    <svg id="star3" xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 -960 960 960" width="24" fill="#ffd400"
                                                        stroke="black">
                                                        <path
                                                            d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" />
                                                    </svg>
                                                    <svg id="star4" xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 -960 960 960" width="24" stroke="black">
                                                        <path
                                                            d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" />
                                                    </svg>
                                                    <svg id="star5" xmlns="http://www.w3.org/2000/svg" height="24"
                                                        viewBox="0 -960 960 960" width="24" stroke="black">
                                                        <path
                                                            d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail">
                                            <p class="category"><strong>Category :</strong> Bags > Adventure Bags</p>
                                            <p class="sub-category"><strong>Subcategory :</strong> Tas Gunung</p>
                                            <p class="dimension"><strong>Dimension :</strong> 31.5cm (L) 23cm (H) 11.5cm
                                                (W)</p>
                                            <p class="desc">
                                                <strong>Description :</strong><br>
                                                Ideal digunakan selama 1 minggu berpetualang maupun menghabiskan akhir
                                                pekan yang membutuhkan
                                                banyak barang, Aether 65 adalah tas yang customizable dan pas pada tubuh
                                                yang dapat membawa
                                                barang yang lebih besar dan berat.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container-right">
                                        <div class="reviewUser">
                                            <div class="review">
                                                <div class="account-review-container">
                                                    <p class="userReviewName">
                                                        Johnny Sins
                                                    </p>
                                                    <button class="reviewFollowButton">Follow</button>
                                                </div>
                                                <p class="review-text">
                                                    Tas Gunung Eiger Aether 65: Ideal untuk petualangan 1 minggu dengan
                                                    kemampuan membawa barang
                                                    berat dan nyaman saat digunakan. Terbuat dari bahan berkualitas
                                                    tinggi dan ramah lingkungan.
                                                </p>
                                                <br>

                                            </div>
                                            <div class="review">
                                                <div class="account-review-container">
                                                    <p class="userReviewName">
                                                        Johnny Sins
                                                    </p>
                                                    <button class="reviewFollowButton">Follow</button>
                                                </div>
                                                <p class="review-text">
                                                    Tas Gunung Eiger Aether 65: Ideal untuk petualangan 1 minggu dengan
                                                    kemampuan membawa barang
                                                    berat dan nyaman saat digunakan. Terbuat dari bahan berkualitas
                                                    tinggi dan ramah lingkungan.
                                                </p>
                                                <br>

                                            </div>
                                            <div class="review">
                                                <div class="account-review-container">
                                                    <p class="userReviewName">
                                                        Johnny Sins
                                                    </p>
                                                    <button class="reviewFollowButton">Follow</button>
                                                </div>
                                                <p class="review-text">
                                                    Tas Gunung Eiger Aether 65: Ideal untuk petualangan 1 minggu dengan
                                                    kemampuan membawa barang
                                                    berat dan nyaman saat digunakan. Terbuat dari bahan berkualitas
                                                    tinggi dan ramah lingkungan.
                                                </p>
                                                <br>

                                            </div>
                                            <div class="review">
                                                <div class="account-review-container">
                                                    <p class="userReviewName">
                                                        Johnny Sins
                                                    </p>
                                                    <button class="reviewFollowButton">Follow</button>
                                                </div>
                                                <p class="review-text">
                                                    Tas Gunung Eiger Aether 65: Ideal untuk petualangan 1 minggu dengan
                                                    kemampuan membawa barang
                                                    berat dan nyaman saat digunakan. Terbuat dari bahan berkualitas
                                                    tinggi dan ramah lingkungan.
                                                </p>
                                                <br>

                                            </div>
                                            <div class="review">
                                                <div class="account-review-container">
                                                    <p class="userReviewName">
                                                        Johnny Sins
                                                    </p>
                                                    <button class="reviewFollowButton">Follow</button>
                                                </div>
                                                <p class="review-text">
                                                    Tas Gunung Eiger Aether 65: Ideal untuk petualangan 1 minggu dengan
                                                    kemampuan membawa barang
                                                    berat dan nyaman saat digunakan. Terbuat dari bahan berkualitas
                                                    tinggi dan ramah lingkungan.
                                                </p>
                                                <br>

                                            </div>
                                        </div>
                                    </div>
                                </div>
</body>

</html>