<div class="container-category add-bag-entry" id="addBagItem">
    <h1>Add new Bag entry</h1>
    <h3>Select bag category and subcategory from dropdown below.</h3>
    <form action="/addBagEntry" method="post" class="admin-form-menu">
        <label for="bag-name">Bag Name:</label>
        <input type="text" id="bag-name" name="bag-name">

        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="" disabled>Choose an option</option>
            <option value="clutch">Clutch</option>
            <option value="shoulder-bag">Shoulder Bag</option>
            <option value="crossbody">Crossbody</option>
            <option value="tote">Tote</option>
            <option value="hobo">Hobo</option>
            <option value="satchel">Satchel</option>
            <option value="backpack">Backpack</option>
            <option value="bucket-bag">Bucket Bag</option>
            <option value="envelope-bag">Envelope Bag</option>
            <option value="wristlet">Wristlet</option>
        </select>

        <label for="subcategory">Subcategory:</label>
        <select id="subcategory" name="subcategory">
            <option value="" disabled>Choose an option</option>
            <option value="leather">Leather</option>
            <option value="canvas">Canvas</option>
            <option value="suede">Suede</option>
            <option value="nylon">Nylon</option>
            <option value="straw">Straw</option>
        </select>

        <label for="color">Color:</label>
        <input type="text" id="color" name="color">

        <label for="bag-designer">Bag Designer:</label>
        <input type="text" id="bag-designer" name="bag-designer">

        <label for="bag-brand">Bag Brand:</label>
        <input type="text" id="bag-brand" name="bag-brand">

        <label for="bag-description">Bag Description:</label>
        <textarea id="bag-description" name="bag-description"></textarea>

        <label for=bag-dimensions>Bag Dimensions (WxLxH):</label>
        <div class="dimension-container">
            <input type="number" id=width" name="width" class="dimension">
            <input type="number" id=length" name="length" class="dimension">
            <input type="number" id=height" name="height" class="dimension">
        </div>

        <label for=bag-image>Bag Image (only accept png or jpg):</label>
        <input type="file" accept=".png,.jpg" id=bag-image" name=bag-image">

        <input type="submit" value="Submit">
    </form>
</div>