<div class="container-category hidden">
    <h1>Add a category or sub-category</h1>
    <h3>Please note that a category must exist before adding subcategory <br>and new category can be added without
        subcategory.</h3>
    <form class="admin-form-menu">
        <label for="categoryIn">Category</label>
        <input type="text" id="categoryIn" name="categoryIn">
        <label for="sub-categoryIn">Sub-category</label>
        <input type="text" id="sub-categoryIn" name="sub-categoryIn">
        <input type="submit" id="category-submit">
    </form>
</div>