<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/default-styling.css">
    <link rel="stylesheet" href="/css/admin-styling.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <%- include('../navigation/header-admin') %>

        <div class="main-grid-section">
            <div class="left-column">
                <div class="main-menu">
                    <div class="review-req">
                        <p>Adjust Review Requirement</p>
                        <br>
                        <p>Minimum character / space required for a review item field</p>
                        <br>
                        <form class="adjust-req"> 
                            <input type="text" name="review-char">
                            <input type="text" name="min-review">
                            <input type="submit">
                        </form>
                    </div>
                </div>
                <div class="secondary-menu">
                    <%- include('../adminMenus/stat-all') %>
                </div>
            </div>
            <div class="right-column">
                <%- include('../adminMenus/recentBags') %>
            </div>
        </div>
</body>

</html>