<div class="container-category review-req hidden" id="revreq">
    <div class="admin-title">
        <h1>Adjust Review Requirement</h1>
        <h3>Minimum character / space required for a review item field</h3>
    </div>
    <form id="adjust-req" class="admin-form-menu">
        <label for="review-char">Minimum Character for review description :</label>
        <input type="text" name="review-char">
        <label for="min-review">Minimum Review number for bag to be displayed :</label>
        <input type="text" name="min-review">
        <input type="submit">
    </form>
</div>