<h2 style="text-align: center; margin-top: 1rem;">Main Menu Settings</h2>
<div class="admin-panel">
    <div class="admin-button">
        <img src="/img-default/adjustMinReq.svg" alt="" class="menu-icon">
        <a href="/adjustReview">
            Adjust Review Requirement
        </a>
    </div>
    <div class="admin-button">
        <img src="/img-default/exportData.svg" alt="" class="menu-icon">
        <a href="/importTable">
            Import Table
        </a>

    </div>
    <div class="admin-button">
        <img src="/img-default/addBag.svg" alt="" class="menu-icon">
        <a href="/addItem">
            Add Item
        </a>
    </div>
    <div class="admin-button">
        <img src="/img-default/addCategory.svg" alt="" class="menu-icon">
        <a href="/addCategory">
            Add Category/Sub-category
        </a>
    </div>
</div>