<h2 style="text-align: center; margin-top: 1rem;">Main Menu Settings</h2>
<div class="admin-panel">
    <div class="admin-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" class="menu-icon">
            <path
                d="M425-110v-239h73v84h352v73H498v82h-73Zm-315-82v-73h265v73H110Zm192-169v-83H110v-73h192v-84h73v240h-73Zm123-83v-73h425v73H425Zm160-168v-239h73v83h192v73H658v83h-73Zm-475-83v-73h425v73H110Z" />
        </svg>
        <a href="/adjustReview">
            Adjust Review Requirement
        </a>
    </div>
    <div class="admin-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" class="menu-icon">
            <path
                d="m661-114 111-110v90h43v-163H652v43h89L631-144l30 30Zm-484 10q-30.75 0-51.875-21.125T104-177v-605q0-29.75 21.125-51.375T177-855h606q30.75 0 51.875 21.625T856-782v337q-17-10-35.5-16.5T783-472v-310H177v605h297q3.188 19.806 8.616 38.576Q488.045-119.655 496-104H177Zm0-110v37-605 310-5 263Zm95-54h205q4-20 10.5-38t17.5-35H272v73Zm0-175h338q17-11 36-18.5t42-10.5v-44H272v73Zm0-174h416v-73H272v73ZM732.634-14Q649.38-14 590.19-73.19 531-132.38 531-215q0-83.055 59.046-143.027Q649.091-418 732.866-418q82.754 0 142.444 59.973Q935-298.055 935-215q0 82.62-59.556 141.81Q815.889-14 732.634-14Z" />
        </svg>
        <a href="/importTable">
            Import Table
        </a>

    </div>
    <div class="admin-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" class="menu-icon">
            <path
                d="M444-400h73v-131h131v-73H517v-131h-73v131H313v73h131v131ZM64-59v-770q0-28.725 22.138-50.862Q108.275-902 137-902h686q28.725 0 50.862 22.138Q896-857.725 896-829v524q0 28.725-22.138 50.863Q851.725-232 823-232H237L64-59Zm142-246h617v-524H137v599l69-75Zm-69 0v-524 524Z" />
        </svg>
        <a href="/addItem">
            Add Item
        </a>
    </div>
    <div class="admin-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" class="menu-icon">
            <path
                d="M510-378h60v-132h132v-60H570v-132h-60v132H378v60h132v132ZM260-200q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h560q24 0 42 18t18 42v560q0 24-18 42t-42 18H260Zm0-60h560v-560H260v560ZM140-80q-24 0-42-18t-18-42v-620h60v620h620v60H140Zm120-740v560-560Z" />
        </svg>
        <a href="/addCategory">
            Add Category/Sub-category
        </a>
    </div>
</div>