<div class="admin-panel">
    <div class="admin-button">
        <a href="http://" target="_blank" rel="noopener noreferrer">
            Adjust Review Requirement
        </a>
    </div>
    <div class="admin-button">
        <a href="http://" target="_blank" rel="noopener noreferrer">
            Import Table
        </a>

    </div>
    <div class="admin-button">
        <a href="http://" target="_blank" rel="noopener noreferrer">
            Add Item
        </a>
    </div>
    <div class="admin-button">
        <a href="http://" target="_blank" rel="noopener noreferrer">
            Add Category/Sub-category
        </a>
    </div> 
</div>