<div class="stats">
    <h2>Site Statistics</h2>
    <div class="stats-row">
        <div class="stat-items">
            <h2>123123</h2>
            <h4>Searched Bags</h4>
        </div>
        <div class="stat-items">
            <h2>123123</h2>
            <h4>Searched Bags</h4>
        </div>
        <div class="stat-items">
            <h2>123123</h2>
            <h4>Searched Bags</h4>
        </div>
        <div class="stat-items">
            <h2>123123</h2>
            <h4>Searched Bags</h4>
        </div>
        <div class="stat-items">
            <h2>123123</h2>
            <h4>Searched Bags</h4>
        </div>

    </div>
    <div class="stats-row">
        <div class="stat-items">
            <h2>123123</h2>
            <h4>Searched Bags</h4>
        </div>
        <div class="stat-items">
            <h2>123123</h2>
            <h4>Searched Bags</h4>
        </div>
        <div class="stat-items">
            <h2>123123</h2>
            <h4>Searched Bags</h4>
        </div>
    </div>
</div>