<div class="popup-menu">
    <h2>Sig Up</h2>
    <form action="/login" method="post">
        <label for="logInEmail">Email :</label>
        <input type="email" name="logInEmail" id="loginEmail">
        <label for="logInPassword">Password :</label>
        <input type="password" name="logInPassword" id="logInPassword">
        <input type="submit" value="Sign Up">
    </form>
    <p>Have an account? <a href="/signIn">Log In</a> instead</p>
</div>