<div class="popup-menu">
    <h2>Sig Up</h2>
    <form action="/signup" method="post">
        <label for="username">Username :</label>
        <input type="text" name="username" id="signupUsername">
        <label for="Nama">Nama Lengkap :</label>
        <input type="text" name="nama" id="signupNama">
        <label for="Email">Email :</label>
        <input type="email" name="Email" id="signUpEmail">
        <label for="Password">Password :</label>
        <input type="password" name="Password" id="signUpPassword">
        <input type="submit" value="Sign Up">
    </form>
    <p>Have an account? <a href="/signIn">Log In</a> instead</p>
</div>