<div class="review-req">
    <p>Adjust Review Requirement</p>
    <br>
    <p>Minimum character / space required for a review item field</p>
    <br>
    <form class="adjust-input">
        <fieldset>
            <label>Description Character</label>
            <input type="text" name="desc-char">
            <label>Minimum Review</label>
            <input type="text" name="min-review">
            <label>Must Have Subcategories?</label>
            <input type="text" name="have-subcat">
            <input type="submit">
        </fieldset>
    </form>
</div>