<div class="adminBagRev">
    <form class="bagReviewForm">
        <fieldset>
            <label for="category">Category</label>
            <input type="text" class="bagReview" id="category" name="category">
            <label for="sub-category">Sub-category</label>
            <input type="text" class="bagReview" id="sub-category" name="sub-category">
            <label for="bag-name">Bag Name</label>
            <input type="text" class="bagReview" id="bag-name" name="bag-name">
            <label for="stars">Stars (1-5)</label>
            <input type="radio" id="stars" name="stars">
            <label for="review-box">Review Description</label>
            <textarea class="bagReview" id="review-box" name="review-box"></textarea>
            <input type="submit" id="bag-submit">
        </fieldset>
    </form>
    <br>
    <div class="fun-fact">
        <p>Fun Fact#</p>
        <p>*insert here*</p>
    </div>
</div>