<div class="container-category">
    <p>Add a category or sub-category</p>
    <br>
    <form class="form-category">
        <fieldset>
            <input type="text" id="categoryIn" name="categoryIn">
            <label for="categoryIn">Category</label>
            <input type="text" id="sub-categoryIn" name="sub-categoryIn">
            <label for="sub-categoryIn">Sub-category</label>
            <input type="submit" id="category-submit">
        </fieldset>
    </form>
</div>