<header class="flex space-between">
    <div class="header-branding">
        <h3>BagsForYou</h3>
    </div>
    <nav id="main-navigation">
        <div class="site-nav">
            <a href="">Home</a>
            <a href="">Add Review</a>
        </div>
        <div class="session-menu">
            <button>Sign Up</button>
            <button>Sign In</button>
        </div>
        <div class="account-container">
            <a href="#" class="account-box">Account Name</a>
            <a href="#" class="account-box">Account Name</a>
            <a href="#" class="account-box">Account Name</a>
        </div>
    </nav>
</header>