<div class="import-container">
    <p>Import Table</p>
    <br>
    <form class="import-table">
        <label for="table">+</label>
        <input type="file" id="csv" name="table" accept=".csv">
        <input type="submit" id="csvSubmit">
    </form>
</div>