<div class="recent-cont">
    <div class="rec-bag">
        <img>
        <p>RevewID:</p>
        <br>
        <p>UserID:</p>
        <br>
        <p>Color:</p>
        <br>
        <p>Brand:</p>
        <br>
        <p>Designer:</p>
        <br>
    </div>
</div>